* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}


.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr; 
  height: 100vh;
}

.header {
  background-color: white;
  grid-area: 1 / 1 / 2 / 3;
  height: 300px;
  
}

.sidebar {
  background-color: blue;
  grid-area: 1 / 1 / 3 / 2; 
  display: grid; 
  grid-template-rows: repeat(3, auto);
  row-gap: 0.25rem;
}

.icon img {
  height: 50px;
  width: 50px;
  fill: white;
  vertical-align: middle;
  filter: brightness(0) invert(1);
}


.page-title {
  color: white;
  font-size: 30px;
  padding-left: 30px;
}

.navbar ul {
  color: white;
  font-size: 24px;
  padding-left:30px;
  list-style-type:  none;
}

.user-menu li {
  color: white;
  font-size: 24px;
  padding-left:30px;
  list-style-type:  none; 
}



.content {
  background-color: grey;
  grid-area: 2 / 2 / 3 / 3;
}