* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}


.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr; 
  height: 100vh;
}

.header {
  background-color: white;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: 1fr 2.5fr; 
  grid-template-columns: 2fr 1fr;  

}





.search-container {
  grid-area: 1 / 1 / 2 / 2; 
}

.search-container input {
 width: 700px;
}

.search-container img {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.search-container {
  margin-left: 30px;
  padding
}

.user-info {
  grid-area: 2 / 1 / 3 / 2;
  margin-left: 30px;
  padding-top: 30px;
  font-size: 20px;
  text-align: middle;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: max-content max-content;
}

.user-info span {
  grid-area: 1 / 2 / 2 / 3;
}

.user-info p {
  font-size: 30px;
  grid-area: 2 / 2 / 3 / 3; 
}

.user-info img {
  height: 60px;
  width: 60px;
  vertical-align: middle;
  grid-area: 1 / 1 / 3 / 2;
}



.sidebar {
  background-color: blue;
  grid-area: 1 / 1 / 3 / 2; 
  display: grid; 
  grid-template-rows: repeat(3, auto);
  row-gap: 0.25rem;
  }

.icon img {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  filter: brightness(0) invert(1);
}


.page-title {
  color: white;
  font-size: 30px;
  padding-left: 30px;
  margin-top: 10px;
}

.page-title img {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  filter: brightness(0) invert(1);
}


.user-menu ul, .navbar ul {
  color: white;
  font-size: 24px;
  padding-left:30px;
  list-style-type:  none; 
  display:grid;
  gap: 10px;
  margin-top: 5px; 
}





.content {
  background-color: grey;
  grid-area: 2 / 2 / 3 / 3;
}