* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


body {
  height: 100vh;
}



.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr; 
  height: 100vh;
}

.header {
  background-color: white;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: 1fr 2.5fr; 
  grid-template-columns: 2fr 1fr;  
  padding-top: 10px;

}


.search-container {
  display: flex;
  padding-left: 30px;
}

.search-container input {
 width: 700px;
 height: 20px;
 box-sizing:border-box;
 background-color:  rgb(240, 240, 240);
 border: none;
 border-radius: 5px;
}

.search-container img {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.user-info {
  grid-area: 2 / 1 / 3 / 2;
  margin-left: 30px;
  padding-top: 30px;
  font-size: 20px;
  text-align: middle;
  padding-bottom: 10px;
  display: flex;

}

.user-text {
  display:flex;
  flex-direction:column; 
}

.user-info span {
  
}

.user-info p {
  font-size: 30px;
  
}

.user-info img {
  height: 60px;
  width: 60px;
  vertical-align: middle;

}

.alert-container {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
 

}


.alert-container img {
height: 50px;
weight: 50px;

}

.sidebar {
  background-color: blue;
  grid-area: 1 / 1 / 3 / 2; 
  display: grid; 
  grid-template-rows: repeat(3, auto);
  row-gap: 0.25rem;
  }

.sidebar img {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  filter: brightness(0) invert(1);
}


.page-title {
  color: white;
  font-size: 30px;
  padding-left: 30px;
  margin-top: 10px;
}

.page-title img {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  filter: brightness(0) invert(1);
}


.user-menu ul, .navbar ul {
  color: white;
  font-size: 24px;
  padding-left:30px;
  list-style-type:  none; 
  display:grid;
  gap: 10px;
  margin-top: 5px; 
}





.content {
  background-color: grey;
  grid-area: 2 / 2 / 3 / 3;
}